<div style="text-align:center">
  <h2 class=" bg-primary text-white" style="padding: 20px; width:350px;border-radius:6px">Caregivers:</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-caregiver-list></app-caregiver-list>
  </div>
  <div class="col-md-6">
      <app-caregiver></app-caregiver>
  </div> 
</div>