<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Health Care</a>
    </div>
    <ul class="nav navbar-nav">
      <li status="active"><a routerLink="/app-homepage"  routerLinkActive="active" >Home</a></li>
      <li><a routerLink="/app-doctor-page"  routerLinkActive="active" >Doctor role</a></li>
      <li><a routerLink="/app-caregiver-page"  routerLinkActive="active">Caregiver role</a></li>
      <li><a routerLink="/app-patient-page"  routerLinkActive="active">Patient role</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>