<form class="emp-form" #caregiverForm="ngForm" (ngSubmit)="onSubmit(caregiverForm)">
    <input type="hidden" name="CaregiverID" #CaregiverID="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.CaregiverID">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.Name"
                placeholder="Name" required>
              <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
        </div>
        <div class="form-group col-md-6">
            <input type="text"
            placeholder="Birth Date" bsDatepicker class="form-control" name="BirthDate" #BirthDate="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.BirthDate" placeholder="Birth Date">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <input class="form-control" name="Gender" #Gender="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.Gender" placeholder="Gender">
        </div>
        <div class="form-group col-md-9">
            <input class="form-control" name="Address" #Address="ngModel" [(ngModel)]="caregiverService.selectedCaregiver.Address" placeholder="Address">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <button [disabled]="!caregiverForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
                <i class="fa fa-floppy-o"></i> Submit</button>
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(caregiverForm)">
                <i class="fa fa-repeat"></i> Reset</button>
        </div>
    </div>
</form>
